<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%- include('ga.ejs') -%>
		<title>IEEE - Amrita Bangalore</title>
		<meta property="og:title" content="IEEE - Amrita Bangalore" />
		<meta
			name="description"
			content="IEEE (Amrita Branch) - The world's largest technical professional organization dedicated to advancing technology for the benefit of humanity."
		/>
		<meta
			property="og:description"
			content="IEEE (Amrita Branch) - The world's largest technical professional organization dedicated to advancing technology for the benefit of humanity."
		/>
		<meta property="og:url" content="https://ieee-amrita.firebaseapp.com" />
		<%- include('meta.ejs') -%>
	</head>

	<body id="top">
		<%- include('header.ejs') -%>
		<section
			id="home"
			class="s-home target-section"
			data-parallax="scroll"
			data-image-src="images/hero-bg.jpg"
			data-natural-width="3000"
			data-natural-height="2000"
			data-position-y="center"
		>
			<div class="overlay"></div>
			<div class="shadow-overlay"></div>

			<div class="home-content">
				<div class="row home-content__main">
					<h1 style="color: #39b54a">
						Welcome to <br />IEEE Amrita Bangalore
					</h1>
					<div class="alert-box alert-box--success hideit">
						<p>
							This is the 2018 - 2019 website made by
							<a
								target="_blank"
								rel="noopener"
								href="https://linkedin.com/in/aravindvnair99/"
								>Aravind V. Nair</a
							>
							and
							<a
								target="_blank"
								rel="noopener"
								href="https://linkedin.com/in/abhishek-kvs/"
								>Abhishek Sai</a
							>
							for IEEE
							<a
								target="_blank"
								rel="noopener"
								href="https://amrita.edu/campus/bengaluru"
								>Amrita Bangalore</a
							>
							The more recent one made by the current team can be
							found at:
							<a
								target="_blank"
								rel="noopener"
								href="https://site.ieee.org/sb-ase/"
								>site.ieee.org/sb-ase/</a
							>
						</p>
						<i
							class="fa fa-times alert-box__close"
							aria-hidden="true"
						></i>
					</div>
					<h3 style="color: #FFF">
						A branch of IEEE - The world's largest technical
						<br />
						professional organization <br />
						dedicated to advancing technology <br />
						for the benefit of humanity.
					</h3>

					<div class="home-content__buttons">
						<a href="#contact" class="smoothscroll btn btn--stroke">
							Start a Project
						</a>
						<a href="#about" class="smoothscroll btn btn--stroke">
							More About Us
						</a>
					</div>
				</div>

				<div class="home-content__scroll">
					<a href="#about" class="scroll-link smoothscroll">
						<span>Scroll Down</span>
					</a>
				</div>

				<div class="home-content__line"></div>
			</div>

			<ul class="home-social">
				<li>
					<a
						target="_blank"
						rel="noopener"
						href="https://facebook.com/ieeeamritasb/"
					>
						<i class="fa fa-facebook" aria-hidden="true"></i>
						<span>Facebook</span>
					</a>
				</li>
				<li>
					<a
						target="_blank"
						rel="noopener"
						href="https://instagram.com/ieee_amrita/"
					>
						<i class="fa fa-instagram" aria-hidden="true"></i>
						<span>Instagram</span>
					</a>
				</li>
				<li>
					<a
						target="_blank"
						rel="noopener"
						href="https://linkedin.com/company/ieee-student-branch-ase-b/"
					>
						<i class="fa fa-linkedin" aria-hidden="true"></i>
						<span>LinkedIn</span>
					</a>
				</li>
				<li>
					<a class="smoothscroll" href="#contact">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<span>Email</span>
					</a>
				</li>
			</ul>
		</section>

		<section id="about" class="s-about">
			<div class="row section-header has-bottom-sep" data-aos="fade-up">
				<div class="col-full">
					<h3 class="subhead subhead--dark">Hello There</h3>
					<h1 class="display-1 display-1--light">
						Welcome to IEEE Amrita Bangalore Student Chapter
					</h1>
				</div>
			</div>

			<div class="row about-desc" data-aos="fade-up">
				<div class="col-full">
					<p>
						Student Branches provide an opportunity for IEEE Student
						members to begin networking in their areas of interest
						and future profession. There are over 3,000 Student
						Branches in over 100 countries, globally.
					</p>
				</div>
			</div>

			<div
				class="row about-stats stats block-1-4 block-m-1-2 block-mob-full"
				data-aos="fade-up"
			>
				<div class="col-block stats__col ">
					<div class="stats__count">5</div>
					<h5>Awards</h5>
				</div>
				<div class="col-block stats__col">
					<div class="stats__count">157</div>
					<h5>Events held</h5>
				</div>
				<div class="col-block stats__col">
					<div class="stats__count">129</div>
					<h5>Number of members</h5>
				</div>
				<div class="col-block stats__col">
					<div class="stats__count">102</div>
					<h5>Projects</h5>
				</div>
			</div>

			<div class="about__line"></div>
		</section>

		<section id="services" class="s-services">
			<div class="row section-header has-bottom-sep" data-aos="fade-up">
				<div class="col-full">
					<h3 class="subhead">Chapters &amp; Initiatives</h3>
					<h1 class="display-2">
						Chapters &amp; Initiatives under IEEE Amrita Student
						Branch
					</h1>
				</div>
			</div>

			<div class="row services-list block-1-2 block-tab-full">
				<div class="col-block service-item" data-aos="fade-up">
					<div class="service-icon">
						<i class="fa fa-podcast"></i>
					</div>
					<div class="service-text">
						<h3 class="h2">IEEE ComSoc</h3>
						<p>
							Communication Society
						</p>
						<button
							type="button"
							class="glow-button button"
							onclick="location.href='https://site.ieee.org/sb-ase/student-branch-chapters-affinity-group/communication-society-comsoc-chapter/'"
							type="button"
						>
							Know More
						</button>
					</div>
				</div>

				<div class="col-block service-item" data-aos="fade-up">
					<div class="service-icon">
						<i class="fa fa-microchip"></i>
					</div>
					<div class="service-text">
						<h3 class="h2">IEEE PELS</h3>
						<p>
							Power Electronics Society
						</p>
						<button
							type="button"
							class="glow-button button"
							onclick="location.href='https://site.ieee.org/sb-ase/student-branch-chapters-affinity-group/power-electronics-society-pels-chapter/'"
							type="button"
						>
							Know More
						</button>
					</div>
				</div>

				<div class="col-block service-item" data-aos="fade-up">
					<div class="service-icon">
						<i class="fa fa-gears"></i>
					</div>
					<div class="service-text">
						<h3 class="h2">IEEE RAS</h3>
						<p>
							Robotics and Automation Society
						</p>
						<button
							type="button"
							class="glow-button button"
							onclick="location.href='https://site.ieee.org/sb-ase/student-branch-chapters-affinity-group/robotics-and-automation-society-ras-chapter/'"
							type="button"
						>
							Know More
						</button>
					</div>
				</div>

				<div class="col-block service-item" data-aos="fade-up">
					<div class="service-icon">
						<i class="fa fa-female"></i>
					</div>
					<div class="service-text">
						<h3 class="h2">IEEE WIE</h3>
						<p>
							Women In Engineering
						</p>
						<button
							type="button"
							class="glow-button button"
							onclick="location.href='https://site.ieee.org/sb-ase/student-branch-chapters-affinity-group/women-in-engineering-wie/'"
							type="button"
						>
							Know More
						</button>
					</div>
				</div>

				<div class="col-block service-item" data-aos="fade-up">
					<div class="service-icon">
						<i class="fa fa-flash"></i>
					</div>
					<div class="service-text">
						<h3 class="h2">IEEE PES-IAS</h3>
						<p>
							Power and Energy / Industry Applications Society
							Joint Chapter
						</p>
						<button
							type="button"
							class="glow-button button"
							onclick="location.href='https://site.ieee.org/sb-ase/student-branch-chapters-affinity-group/power-energy-industrial-applications-pes-ias-chapter/'"
							type="button"
						>
							Know More
						</button>
					</div>
				</div>

				<div class="col-block service-item" data-aos="fade-up">
					<div class="service-icon">
						<i class="fa fa-send"></i>
					</div>
					<div class="service-text">
						<h3 class="h2">I <sup>2</sup> Innovation Club</h3>
						<p>
							Experiment, Innovate and Research Forum
						</p>
						<br />
						<button
							type="button"
							class="glow-button button"
							onclick="location.href='https://site.ieee.org/sb-ase/student-branch-chapters-affinity-group/i-square/'"
							type="button"
						>
							Know More
						</button>
					</div>
				</div>
			</div>
		</section>

		<section id="works" class="s-works">
			<div class="intro-wrap">
				<div
					class="row section-header has-bottom-sep light-sep"
					data-aos="fade-up"
				>
					<div class="col-full">
						<h3 class="subhead">Recent Events</h3>
						<h1 class="display-2 display-2--light">
							We love what we do, check out some of our latest
							events
						</h1>
					</div>
				</div>
			</div>
			<div class="row works-content">
				<div class="col-full masonry-wrap">
					<div class="masonry">
						<div class="masonry__brick" data-aos="fade-up">
							<div class="item-folio">
								<div class="item-folio__thumb">
									<a
										target="_blank"
										href="images/portfolio/gallery/g-woodcraft.jpg"
										class="thumb-link"
										title="Robotic Applications"
										data-size="1050x700"
									>
										<img
											src="images/portfolio/woodcraft.jpg"
											srcset="
												images/portfolio/woodcraft.jpg    1x,
												images/portfolio/woodcraft@2x.jpg 2x
											"
											alt="SkillThon'18"
										/>
									</a>
								</div>
								<div class="item-folio__text">
									<h3 class="item-folio__title">
										SkillThon'18
									</h3>
									<p class="item-folio__cat">
										IEEE Student Branch
									</p>
								</div>
								<div class="item-folio__caption">
									<p>
										SkillThon'18.
									</p>
								</div>
							</div>
						</div>
						<div class="masonry__brick" data-aos="fade-up">
							<div class="item-folio">
								<div class="item-folio__thumb">
									<a
										target="_blank"
										href="images/portfolio/gallery/g-guitarist.jpg"
										class="thumb-link"
										title="Vehicular Networks and Intelligent Transport System"
										data-size="1050x700"
									>
										<img
											src="images/portfolio/guitarist.jpg"
											srcset="
												images/portfolio/guitarist.jpg    1x,
												images/portfolio/guitarist@2x.jpg 2x
											"
											alt=""
										/>
									</a>
								</div>
								<div class="item-folio__text">
									<h3 class="item-folio__title">
										Vehicular Networks and Intelligent
										Transport System
									</h3>
									<p class="item-folio__cat">
										IEEE Student Branch and ComSoc
									</p>
								</div>
								<div class="item-folio__caption">
									<p>
										IEEE student branch and the student
										chapter of IEEE ComSoc joined hands to
										introduce students to vehicular networks
										and intelligent transport system. A
										special speaker session was organized,
										with experienced industry experts who
										imparted their knowledge in a simple,
										engaging manner.
									</p>
								</div>
							</div>
						</div>
						<div class="masonry__brick" data-aos="fade-up">
							<div class="item-folio">
								<div class="item-folio__thumb">
									<a
										target="_blank"
										href="images/portfolio/gallery/g-grow-green.jpg"
										class="thumb-link"
										title="Hybrid Cars"
										data-size="1050x700"
									>
										<img
											src="images/portfolio/grow-green.jpg"
											srcset="
												images/portfolio/grow-green.jpg    1x,
												images/portfolio/grow-green@2x.jpg 2x
											"
											alt=""
										/>
									</a>
								</div>
								<div class="item-folio__text">
									<h3 class="item-folio__title">
										Hybrid Cars
									</h3>
									<p class="item-folio__cat">
										IEEE PELS
									</p>
								</div>
								<div class="item-folio__caption">
									<p>
										The main focuspoint of Dr. K Deepa
										throughout the talk was to give a look
										at the future on hybrid cars so that it
										will motivate thestudents to go further
										on this area of research
									</p>
								</div>
							</div>
						</div>
						<div class="masonry__brick" data-aos="fade-up">
							<div class="item-folio">
								<div class="item-folio__thumb">
									<a
										target="_blank"
										href="images/portfolio/gallery/g-shutterbug.jpg"
										class="thumb-link"
										title="Social Net Bee"
										data-size="1050x700"
									>
										<img
											src="images/portfolio/lady-shutterbug.jpg"
											srcset="
												images/portfolio/lady-shutterbug.jpg    1x,
												images/portfolio/lady-shutterbug@2x.jpg 2x
											"
											alt=""
										/>
									</a>
								</div>
								<div class="item-folio__text">
									<h3 class="item-folio__title">
										Social Net Bee
									</h3>
									<p class="item-folio__cat">
										IEEE-WIE
									</p>
								</div>
								<div class="item-folio__caption">
									<p>
										Social Net Bee, a unique event organized
										by IEEE-WIE, focused on the myriad
										techniques of networking, and gave
										participants an experience of a fusion
										of teamwork, idea generation and
										marketing under time constraints.
									</p>
								</div>
							</div>
						</div>
						<div class="masonry__brick" data-aos="fade-up">
							<div class="item-folio">
								<div class="item-folio__thumb">
									<a
										target="_blank"
										href="images/portfolio/gallery/g-beetle.jpg"
										class="thumb-link"
										title="Quiz"
										data-size="1050x700"
									>
										<img
											src="images/portfolio/the-beetle.jpg"
											srcset="
												images/portfolio/the-beetle.jpg    1x,
												images/portfolio/the-beetle@2x.jpg 2x
											"
											alt=""
										/>
									</a>
								</div>
								<div class="item-folio__text">
									<h3 class="item-folio__title">
										Quiz Competition
									</h3>
									<p class="item-folio__cat">
										IEEE PES
									</p>
								</div>
								<div class="item-folio__caption">
									<p>
										The quiz comprised of two rounds. The
										first round was a set of 20 questions
										based on the current affairs and
										quantitative aptitude. The participants
										were given a minute to write the
										solution to each question. This was
										followed by the second round. It
										involved 10 slides depicting the images
										of renowned scientists who contributed
										towards electrical engineering. The
										participants were given a minute to
										identify the scientists.
									</p>
								</div>
							</div>
						</div>
						<div class="masonry__brick" data-aos="fade-up">
							<div class="item-folio">
								<div class="item-folio__thumb">
									<a
										target="_blank"
										href="images/portfolio/gallery/g-palmeira.jpg"
										class="thumb-link"
										title="Palmeira"
										data-size="1050x700"
									>
										<img
											src="images/portfolio/palmeira.jpg"
											srcset="
												images/portfolio/palmeira.jpg    1x,
												images/portfolio/palmeira@2x.jpg 2x
											"
											alt=""
										/>
									</a>
								</div>

								<div class="item-folio__text">
									<h3 class="item-folio__title">
										PP Tech
									</h3>
									<p class="item-folio__cat">
										IEEE PES-IAS
									</p>
								</div>

								<div class="item-folio__caption">
									<p>
										Vero molestiae sed aut natus excepturi.
										Et tempora numquam. Temporibus iusto
										quo.Unde dolorem corrupti neque nisi.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="clients" class="s-clients">
			<div class="row section-header" data-aos="fade-up">
				<div class="col-full">
					<h3 class="subhead">Resources</h3>
					<h1 class="display-2">
						IEEE Amrita has been honoured to partner up with these
						resources
					</h1>
				</div>
			</div>

			<div class="row clients-outer" data-aos="fade-up">
				<div class="col-full">
					<div class="clients">
						<a
							target="_blank"
							rel="noopener"
							href="https://ieee-collabratec.ieee.org/"
							title="IEEE Collabratec"
							class="clients__slide"
						>
							<img src="images/resources/collabratec.jpg" />
						</a>
						<a
							target="_blank"
							rel="noopener"
							href="https://ieee.org/membership/products/resumelab.html"
							title="IEEE ResumeLab"
							class="clients__slide"
						>
							<img src="images/resources/resumelab.jpg" />
						</a>
						<a
							target="_blank"
							rel="noopener"
							href="https://ieee.org/membership_services/membership/students/potentials.html"
							title="IEEE Potentials Magazine"
							class="clients__slide"
						>
							<img src="images/resources/potentials.jpg" />
						</a>
						<a
							target="_blank"
							rel="noopener"
							href="https://ieee.org/membership/products/google-apps.html"
							title="GoogleApps@IEEE"
							class="clients__slide"
						>
							<img src="images/resources/googleapps.jpg" />
						</a>
						<a
							target="_blank"
							rel="noopener"
							href="https://ieee.org/membership_services/membership/students/awards/sag.html"
							title="Scholarships, Grants, and Fellowships"
							class="clients__slide"
						>
							<img src="images/resources/sag.jpg" />
						</a>
						<a
							target="_blank"
							rel="noopener"
							href="https://spectrum.ieee.org/"
							title="IEEE Spectrum"
							class="clients__slide"
						>
							<img src="images/resources/spectrum.jpg" />
						</a>
						<a
							target="_blank"
							rel="noopener"
							href="https://ieeexplore.ieee.org/Xplore/home.jsp"
							title="IEEE Xplore Digital Library"
							class="clients__slide"
						>
							<img src="images/resources/xplore.jpg" />
						</a>
					</div>
				</div>
			</div>
		</section>
		<section id="officers" class="s-services">
			<div class="row section-header" data-aos="fade-up">
				<div class="col-full">
					<h3 class="subhead subhead--dark">Officers</h3>
					<h1 class="display-2 display-2--light">
						IEEE Amrita Student Branch's Office bearers.
					</h1>
				</div>
			</div>

			<div class="row clients-testimonials" data-aos="fade-up">
				<div class="col-full">
					<div class="testimonials">
						<div class="testimonials__slide">
							<p>
								He serves as an Associate Professor at the
								department of ECE, Amrita School of Engineering.
								With a PhD and ME under his belt, his core
								research interests include wireless mobile
								communication networks, visible light
								communication, intelligent transportation
								systems and heterogeneous networks.
							</p>
							<img
								src="images/avatars/navin.jpg"
								alt="Dr. Navin Kumar"
								class="testimonials__avatar"
							/>
							<div class="testimonials__info">
								<span class="testimonials__name"
									>Dr. Navin Kumar</span
								>
								<span class="testimonials__pos"
									>Bangalore IEEE ComSoc Chairperson</span
								>
								<span class="testimonials__pos"
									>navin_kum3@yahoo.com</span
								>
							</div>
						</div>
						<div class="testimonials__slide">
							<p>
								A third year pursuing her B.Tech in Electronics
								and Communication Engineering, Sandhiya enjoys
								coding and is enthusiastic about analog circut
								design and digital signal processing.
							</p>
							<img
								src="images/avatars/sandhiya.jpg"
								alt="Sandhiya Mani"
								class="testimonials__avatar"
							/>
							<div class="testimonials__info">
								<span class="testimonials__name"
									>Sandhiya Mani</span
								>
								<span class="testimonials__pos"
									>Chairperson</span
								>
								<span class="testimonials__pos"
									>sandybujj70@gmail.com</span
								>
							</div>
						</div>
						<div class="testimonials__slide">
							<p>
								A sophomore pursuing B.Tech in Computer Science
								and Engineering, Aravind V. Nair has enormous
								passion for coding and web development. He also
								has a great zeal in server management and
								ethical hacking.
							</p>
							<img
								src="images/avatars/aravind.jpg"
								alt="Aravind V Nair"
								class="testimonials__avatar"
							/>
							<div class="testimonials__info">
								<span class="testimonials__name"
									>Aravind V Nair</span
								>
								<span class="testimonials__pos"
									>Technical and Web Development
									Chairperson</span
								>
								<span class="testimonials__pos"
									>aravindvnair@ieee.org</span
								>
							</div>
						</div>
						<div class="testimonials__slide">
							<p>
								A sophomore pursuing his B.Tech in Computer
								Science and Engineering, Abhishek loves to
								dapple with different programming languages and
								is a keen web developer.
							</p>
							<img
								src="images/avatars/abhishek.jpg"
								alt="Abhishek Sai"
								class="testimonials__avatar"
							/>
							<div class="testimonials__info">
								<span class="testimonials__name"
									>Abhishek Sai</span
								>
								<span class="testimonials__pos">Treasurer</span>
								<span class="testimonials__pos"
									>abhishekkandikattu@gmail.com</span
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%- include('contact.ejs') -%>
		<%- include('footer.ejs') -%>
		<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
			<div class="pswp__bg"></div>
			<div class="pswp__scroll-wrap">
				<div class="pswp__container">
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
				</div>

				<div class="pswp__ui pswp__ui--hidden">
					<div class="pswp__top-bar">
						<div class="pswp__counter"></div>
						<button
							class="pswp__button pswp__button--close"
							title="Close (Esc)"
						></button>
						<button
							class="pswp__button pswp__button--share"
							title="Share"
						></button>
						<button
							class="pswp__button pswp__button--fs"
							title="Toggle fullscreen"
						></button>
						<button
							class="pswp__button pswp__button--zoom"
							title="Zoom in/out"
						></button>
						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
								<div class="pswp__preloader__cut">
									<div class="pswp__preloader__donut"></div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
					>
						<div class="pswp__share-tooltip"></div>
					</div>
					<button
						class="pswp__button pswp__button--arrow--left"
						title="Previous (arrow left)"
					></button>
					<button
						class="pswp__button pswp__button--arrow--right"
						title="Next (arrow right)"
					></button>
					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>
				</div>
			</div>
		</div>
		<%- include('scripts.ejs') -%>
	</body>
</html>
