<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%- include('ga.ejs') -%>
		<title>Mentors IEEE SB - Amrita Bangalore</title>
		<meta
			property="og:title"
			content="Mentors IEEE SB - Amrita Bangalore"
		/>
		<meta
			name="description"
			content="IEEE (Amrita Branch) - The world's largest technical professional organization dedicated to advancing technology for the benefit of humanity."
		/>
		<meta
			property="og:description"
			content="IEEE (Amrita Branch) - The world's largest technical professional organization dedicated to advancing technology for the benefit of humanity."
		/>
		<meta
			property="og:url"
			content="https://ieee-amrita.firebaseapp.com/Committee"
		/>
		<%- include('meta.ejs') -%>
	</head>

	<body id="top">
		<%- include('header.ejs') -%>
		<section id="officers" class="s-services">
			<div class="row section-header" data-aos="fade-up">
				<div class="col-full">
					<h3 class="subhead subhead--dark">Mentors</h3>
					<h1 class="display-2 display-2--light">
						IEEE Amrita Student Branch's Mentors
					</h1>
				</div>
			</div>
			<div class="row clients-testimonials" data-aos="fade-up">
				<div class="col-full">
					<div class="testimonials">
						<div class="testimonials__slide">
							<p>
								He serves as an Associate Professor at the
								department of ECE, Amrita School of Engineering
								and is also the Bangalore IEEE ComSoc
								Chairperson. With a PhD and ME under his belt,
								his core research interests include wireless
								mobile communication networks, visible light
								communication, intelligent transportation
								systems and heterogeneous networks.
							</p>
							<img
								src="images/avatars/navin.jpg"
								alt="Dr. Navin Kumar"
								class="testimonials__avatar"
							/>
							<div class="testimonials__info">
								<span class="testimonials__name"
									>Dr. Navin Kumar</span
								>
								<span class="testimonials__pos"
									>Branch Counsellor</span
								>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row clients-testimonials" data-aos="fade-up">
				<div class="col-full">
					<div class="testimonials">
						<div class="testimonials__slide">
							<div class="testimonials__slide">
								<p>
									She currently serves as Assistant Professor
									at department of Computer Science,Amrita
									School of Engineering. She is the advisor
									for the IEEE Amrita Student Branch in Amrita
									School of Engineering, Bengaluru.
								</p>
								<img
									src="images/avatars/sreebha.jpg"
									alt="Sreebha Bhaskaran"
									class="testimonials__avatar"
								/>
								<div class="testimonials__info">
									<span class="testimonials__name"
										>Sreebha Bhaskaran</span
									>
									<span class="testimonials__pos"
										>Student Branch</span
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row clients-testimonials" data-aos="fade-up">
				<div class="col-full">
					<div class="testimonials">
						<div class="testimonials__slide">
							<div class="testimonials__slide">
								<p>
									Currently serving as the Assistant Professor
									at the department of EEE, Amrita School of
									Engineering, she has more than 17 year of
									experience in teaching, 17 international
									journal papers, twenty five international
									conference papers and six national
									conference papers to her credit. She is the
									advisor for the IEEE-PES &amp; IAS student
									branch joint chapter and advisor for
									IEEE-WIE in Amrita School of Engineering,
									Bengaluru.
								</p>
								<img
									src="images/avatars/deepa.jpg"
									alt="K Deepa"
									class="testimonials__avatar"
								/>
								<div class="testimonials__info">
									<span class="testimonials__name"
										>K Deepa</span
									>
									<span class="testimonials__pos"
										>PES - IAS and WIE</span
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row clients-testimonials" data-aos="fade-up">
				<div class="col-full">
					<div class="testimonials">
						<div class="testimonials__slide">
							<div class="testimonials__slide">
								<p>
									She currently serves as Vice Chairperson and
									Assistant Professor(S.G) at the Department
									of Electrical and Electronics Engineering,
									Amrita School of Engineering, Bengaluru
									Campus. She joined Amrita, Bengaluru Campus
									in 2002 and has 9 years of Industrial
									Experience. She is currently pursuing Ph.D.
									in Electrical Drives and Control. She is a
									member of Institute of Electrical and
									Electronics Engineers(IEEE) and IEEE Power
									Electronics Society and currently serves as
									adviser for IEEE-PELS student branch at
									Amrita, Bengaluru Campus.
								</p>
								<img
									src="images/avatars/deepa.jpg"
									alt="Mini Sujith"
									class="testimonials__avatar"
								/>
								<div class="testimonials__info">
									<span class="testimonials__name"
										>Mini Sujith</span
									>
									<span class="testimonials__pos">PELS</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%- include('contact.ejs') -%> <%- include('footer.ejs') -%>
		<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
			<div class="pswp__bg"></div>
			<div class="pswp__scroll-wrap">
				<div class="pswp__container">
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
				</div>

				<div class="pswp__ui pswp__ui--hidden">
					<div class="pswp__top-bar">
						<div class="pswp__counter"></div>
						<button
							class="pswp__button pswp__button--close"
							title="Close (Esc)"
						></button>
						<button
							class="pswp__button pswp__button--share"
							title="Share"
						></button>
						<button
							class="pswp__button pswp__button--fs"
							title="Toggle fullscreen"
						></button>
						<button
							class="pswp__button pswp__button--zoom"
							title="Zoom in/out"
						></button>
						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
								<div class="pswp__preloader__cut">
									<div class="pswp__preloader__donut"></div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
					>
						<div class="pswp__share-tooltip"></div>
					</div>
					<button
						class="pswp__button pswp__button--arrow--left"
						title="Previous (arrow left)"
					></button>
					<button
						class="pswp__button pswp__button--arrow--right"
						title="Next (arrow right)"
					></button>
					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>
				</div>
			</div>
		</div>
		<%- include('scripts.ejs') -%>
	</body>
</html>
